Binaries
DerivedDataCache
Intermediate
Saved
Content/Assets
Content/Defender
Content/StarterBundle
Content/TopDown/Maps/TopDownMap.umap
Content/TopDown/Maps/TopDownMap_BuiltData.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace